<div class="headerContainer" id="header_custom">
  <!-- MENU SUPERIOR -->
  <div class="HeaderSection" id="HeaderSectionId">
    <div class="iconHeaderContainer">
      <img 
      class="iconHeader"
      src="{{ section.settings.logo  | img_url: 'medium' }}" 
      alt="{{ section.settings.logo.alt }}"
      width="{{ section.settings.logo_width }}"
      >
    </div>
    <div class="blocksContent">
      {% for block in section.blocks %}
      {% assign element = block.settings %}
      {% case block.type %}
      {% when 'product' %}
        <div class="productsList">
            <button class="dropdownButton" onclick="productConsume()">
              {{ element.product_title}}
              <img src="{{ section.settings.title_icon_up | img_url: 'small'}}" class="iconShow"  id="productUpIcon" alt="">
              <img src="{{ section.settings.title_icon_down | img_url: 'small'}}" class="iconHidden" id="productDownIcon" alt="">
              
            </button>  
        </div>
        {% when 'link_list' %}
        <div class="descriptionOptions">
            <button class="dropdownButton" onclick="pagesConsume()">
              {{ element.menu_title }}
            </button>
            <img src="{{ section.settings.title_icon_up | img_url: 'small'}}" class="iconShow"  id="pageUpIcon" alt="">
            <img src="{{ section.settings.title_icon_down | img_url: 'small'}}" class="iconHidden"  id="pageDownIcon" alt="">
        </div>
      {% endcase %}      
      {% endfor %}
    </div>
    <div class="headerOptions">
      <div class="user">
  
      </div>
      <div class="search">
  
      </div>
      <div class="cart">
  
      </div>
    </div>
  </div>

</div>
  <!-- OPCIONES INFERIORES -->
<div class="headerMenuOptions" id="dropdownOptionsDiv">

</div>


<script>
  
  if(document.getElementById('header_custom') != null){
    function productConsume(){
      const url ='/admin/api/2022-07/products.json'
      fetch(url)
      .then((res)=> res.json())
      .then((data)=>{
        console.log(data)
          document.getElementById('dropdownOptionsDiv').innerHTML='';
          let iconUp = document.getElementById('productUpIcon')
          let iconDown = document.getElementById('productDownIcon')
        console.log(iconUp.classList, iconDown.classList)
          // blogs.forEach(element => {
          //   document.getElementById('blogList').innerHTML+=`
          //  <div class="itemDropdown">
          //   <img src="" alt="" class="dropdownImg">
          //   <h5 class="dropdownTitle"></h5>
          //   <ul class="dropdownList">
          //     <li class="dropdownItemList"></li>
          //   </ul>
          // </div>
          //   `;
          // });

      })
    }
    function pagesConsume(){
      const url ='/admin/api/2022-07/pages.json'
      fetch(url)
      .then((res)=> res.json())
      .then((data)=>{
        console.log(data)
          document.getElementById('dropdownOptionsDiv').innerHTML=''
          let iconUp = document.getElementById('pageUpIcon')
          let iconDown = document.getElementById('pageDownIcon')
        //   blogs.forEach(element => {
        // console.log(element)
        //     document.getElementById('blogList').innerHTML+=`
        //      <li class="itemBlog" >
        //         ${element.title}
        //       </li>
        //     `;
        //   });

      })
    }
     
  }
</script>

{% schema %}
  {
    "name": "Header",
    "class": "section-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Main logo"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 150,
        "max": 450,
        "step": 5,
        "unit": "px",
        "label": "Maximum logo width",
        "info": "Logo height is restricted to 75px.",
        "default": 220
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "enable_sticky",
        "label": "Stick to top of screen on scroll",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "user_logo",
        "label": "User logo"
      },
      {
        "type": "image_picker",
        "id": "search_logo",
        "label": "Search logo"
      },
      {
        "type": "image_picker",
        "id": "cart_logo",
        "label": "Cart logo"
      },
      {
        "type": "image_picker",
        "id": "title_icon_down",
        "label": "go DOWN button icon"
      },
      {
        "type": "image_picker",
        "id": "title_icon_up",
        "label": "go UP button icon"
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "type": "link_list",
        "name": "Menu list",
        "settings": [
          {
            "type": "text",
            "id": "menu_title",
            "label": "pages list title to Show",
            "default": "Our Story"
          }
        ]
      },
      {
        "type": "product",
        "name": "Product List",
        "settings": [
          {
            "type": "text",
            "id": "product_title",
            "label": "Product list title to Show",
            "default": "All Natural Products"
          }
        ]
      }
    ]
  }
{% endschema %}
