<div class="headerContainer" id="header_custom">
  <!-- MENU SUPERIOR -->
  <div class="HeaderSection" id="UpperHeaderId">
    <div class="iconHeaderContainer">
      <!-- <img 
      class="iconHeader"
      src="{{ section.settings.logo  | img_url: 'medium' }}" 
      alt="{{ section.settings.logo.alt }}"
      width="{{ section.settings.logo_width }}"
      > -->
      <div class="iconHeader iconShow" id="iconPrincipalWhite" >
          {% include 'my-theme-icons' with 'principal' %}
      </div>
      <div class="iconHeader iconHidden"  id="iconPrincipalBlack"  >
          {% include 'my-theme-icons' with 'principalBlack' %}
      </div>

    </div>
    <div class="blocksContent">
      {% for block in section.blocks %}
      {% assign element = block.settings %}
      {% case block.type %}
      {% when 'product' %}
        <div class="productsList">
            <button class="dropdownButton" id="buttonHeader" onclick="productConsume()">
              {{ element.product_title}}
              <img src="{{ section.settings.title_icon_down  | img_url: 'small'}}" class="iconShow"  id="productUpIcon" alt="">
              <img src="{{ section.settings.title_icon_up | img_url: 'small'}}" class="iconHidden" id="productDownIcon" alt="">
              
            </button>  
        </div>
        {% when 'link_list' %}
        <div class="descriptionOptions">
            <button class="dropdownButton" id="buttonHeaderList" onclick="pagesConsume()">
              {{ element.menu_title }}
            </button>
            <img src="{{ section.settings.title_icon_down | img_url: 'small'}}" class="iconShow"  id="pageUpIcon" alt="">
            <img src="{{ section.settings.title_icon_up | img_url: 'small'}}" class="iconHidden"  id="pageDownIcon" alt="">
        </div>
      {% endcase %}      
      {% endfor %}
    </div>
    <div class="independentLinks">
      {% for block in section.blocks %}
      {% assign element = block.settings %}
        {% case block.type %}
          {% when 'url' %}
            <div class="independentLinkList">
                <a class="independentLinkTitle" id="" >
                  {{ element.independet_title}}            
                </a>  
            </div>
      {% endcase %}      
      {% endfor %}
    </div>
    <div class="headerOptions">
      <div class="user">
        <a class="nav-link" href="{{ routes.account_url }}">
          <img src="{{ section.settings.user_logo_white  | img_url: 'small'}}" class="iconShow userWhite"  id="userWhite" alt="">
          <img src="{{ section.settings.user_logo_black | img_url: 'small'}}" class="iconHidden userBlack" id="userBlack" alt="">
        </a>
      </div>
      <div class="search">
        <form action="/search" method="GET" role="search">
          <!-- <input type="text" name="q" id="" value="{{search.terms | escape}}"> -->
          <button type="submit"> 
            <img src="{{ section.settings.search_logo_white  | img_url: 'small'}}" class="iconShow"  id="searchWhite" alt="">
            <img src="{{ section.settings.search_logo_black | img_url: 'small'}}" class="iconHidden" id="searchBlack" alt="">
          </button>
        </form>
      </div>
      <div class="cart">
        <a class="nav-link" href="/cart">
          <img src="{{ section.settings.cart_logo_white  | img_url: 'small'}}" class="iconShow"  id="cartWhite" alt="">
          <img src="{{ section.settings.cart_logo_black | img_url: 'small'}}" class="iconHidden" id="cartBlack" alt="">
        </a>
      </div>
    </div>
  </div>

</div>
  <!-- OPCIONES INFERIORES -->
<div class="headerMenuOptions lowerHeaderHidden" id="lowerHeaderId">
  <div class="collectionsLists hiddeMenu"  id="productsHeaderSection">
    {% for collection in collections %}
    {% if collection.title != "All Products" %}
    <div class="dropdownItem">
      <img src="{{- collection.image | img_url: 'medium' }}" alt="" class="dropdownImg">
      <h5 class="dropdownTitle">
        {{- collection.title | link_to: collection.url }}
      </h5>
      <ul class="dropdownList">
        {% for product in collection.products %}
         <li class="dropdownItemList">
          <a href="{{ product.url }}">{{ product.title }}</a>
         </li>
          
        {% endfor %}
       </ul>
     </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="pageList hiddeMenu"  id="PagesHeaderSection">
    {% for block in section.blocks %}
    {% if block.type == "link_list" %}
      {% assign element2 = block.settings %}      
    {% endif %}
    {% endfor %}

    {% for page in pages -%}
      {% case page.title %}
        {% when 'Our Story' %}
        <div class="pageItem">
          <img src="{{- element2.us_logo_img | img_url: 'medium' }}" alt="" class="dropdownImg">
            <a class="pageItemTitle"  href="{{ page.url }}">
              {{ element.menu_title}}
              About Natural Mums
            </a>
        </div>
        {% when 'Our Ingredients' %}
        <div class="pageItem">
          <img src="{{- element2.ingredient_logo_img | img_url: 'medium' }}" alt="" class="dropdownImg">
            <a class="pageItemTitle"  href="{{ page.url }}">
              Our Natural Ingredients 
              {{ element2.menu_title}}

            </a>
        </div>
        {% when 'FAQs' %}         
        <div class="pageItem">
          <img src="{{- element2.fqa_logo_img | img_url: 'medium' }}" alt="" class="dropdownImg">
            <a class="pageItemTitle"  href="{{ page.url }}">
              Frequently Asked Questions
            </a>
        </div> 
      {% endcase %}

    {%- endfor %}
  </div>
</div>


<script>
  
  if(document.getElementById('header_custom') != null){
    function productConsume(){
      let iconUp = document.getElementById('productUpIcon')
      let iconDown = document.getElementById('productDownIcon')
      let iconUpPage = document.getElementById('pageUpIcon')
      let iconDownPage = document.getElementById('pageDownIcon')
      let upperHeader = document.getElementById('UpperHeaderId');
      let lowerHeader = document.getElementById('lowerHeaderId');
      let buttonHeader = document.getElementById('buttonHeader');
      let buttonHeaderList = document.getElementById('buttonHeaderList');
      let totalHeader = document.getElementById('header_custom');
      let productsHeaderSection = document.getElementById('productsHeaderSection');

      let userWhite = document.getElementById('userWhite');
      let userBlack = document.getElementById('userBlack');
      let searchWhite = document.getElementById('searchWhite');
      let searchBlack = document.getElementById('searchBlack');
      let cartWhite = document.getElementById('cartWhite');
      let cartBlack = document.getElementById('cartBlack');
      let iconPrincipalWhite = document.getElementById('iconPrincipalWhite');
      let iconPrincipalBlack = document.getElementById('iconPrincipalBlack');
      let PagesHeaderSection = document.getElementById('PagesHeaderSection');
      if(PagesHeaderSection.classList[1] == "showMenu"){
        pagesConsume()
      }
      if(iconDown.classList[0] == "iconShow"){
        iconDown.classList.remove("iconShow");
        userBlack.classList.remove("iconShow");
        searchBlack.classList.remove("iconShow");
        cartBlack.classList.remove("iconShow");
        iconDownPage.classList.remove("iconShow");

        iconUpPage.classList.add("iconShow");
        iconUp.classList.add("iconShow");
        userWhite.classList.add("iconShow");
        searchWhite.classList.add("iconShow");
        cartWhite.classList.add("iconShow");

        iconDown.classList.add("iconHidden");
        userBlack.classList.add("iconHidden");
        searchBlack.classList.add("iconHidden");
        cartBlack.classList.add("iconHidden");

        iconUp.classList.remove("iconHidden");
        userWhite.classList.remove("iconHidden");
        searchWhite.classList.remove("iconHidden");
        cartWhite.classList.remove("iconHidden");

        iconDownPage.classList.add("iconHidden");
        iconUpPage.classList.remove("iconHidden");
        
        totalHeader.classList.remove("headerClicked");

        lowerHeader.classList.remove("headerClicked");
        lowerHeader.classList.remove("lowerHeaderMovement");
        
        buttonHeader.classList.remove("dropdownButtonBlack")
        buttonHeaderList.classList.remove("dropdownButtonBlack")

        productsHeaderSection.classList.remove("showMenu")
        productsHeaderSection.classList.add("hiddeMenu")

        iconPrincipalWhite.classList.remove("iconHidden")
        iconPrincipalWhite.classList.add("iconShow")
        iconPrincipalBlack.classList.remove("iconShow")
        iconPrincipalBlack.classList.add("iconHidden")
        }
        else{

          iconUp.classList.remove("iconShow");

          userWhite.classList.remove("iconShow");
          searchWhite.classList.remove("iconShow");
          cartWhite.classList.remove("iconShow");

          iconDown.classList.add("iconShow");
          
          userBlack.classList.add("iconShow");
          searchBlack.classList.add("iconShow");
          cartBlack.classList.add("iconShow");

          iconUpPage.classList.remove("iconShow");
          iconDownPage.classList.add("iconShow");

          iconUp.classList.add("iconHidden");
          userWhite.classList.add("iconHidden");
          searchWhite.classList.add("iconHidden");
          cartWhite.classList.add("iconHidden");

          iconDown.classList.remove("iconHidden");

          userBlack.classList.remove("iconHidden");
          searchBlack.classList.remove("iconHidden");
          cartBlack.classList.remove("iconHidden");

          iconUpPage.classList.add("iconHidden");
          iconDownPage.classList.remove("iconHidden");

            
          totalHeader.classList.add("headerClicked");

          lowerHeader.classList.add("headerClicked");
          lowerHeader.classList.add("lowerHeaderMovement");

          buttonHeader.classList.add("dropdownButtonBlack");
          buttonHeaderList.classList.add("dropdownButtonBlack")

          productsHeaderSection.classList.remove("hiddeMenu")
          productsHeaderSection.classList.add("showMenu")

          iconPrincipalWhite.classList.remove("iconShow")
          iconPrincipalWhite.classList.add("iconHidden")
          iconPrincipalBlack.classList.remove("iconHidden")
          iconPrincipalBlack.classList.add("iconShow")
        }
    }

    function pagesConsume(){
      let iconUp = document.getElementById('productUpIcon')
      let iconDown = document.getElementById('productDownIcon')
      let iconUpPage = document.getElementById('pageUpIcon')
      let iconDownPage = document.getElementById('pageDownIcon')
      let upperHeader = document.getElementById('UpperHeaderId');
      let lowerHeader = document.getElementById('lowerHeaderId');
      let buttonHeader = document.getElementById('buttonHeader');
      let buttonHeaderList = document.getElementById('buttonHeaderList');
      let totalHeader = document.getElementById('header_custom');
      let PagesHeaderSection = document.getElementById('PagesHeaderSection');

      let userWhite = document.getElementById('userWhite');
      let userBlack = document.getElementById('userBlack');
      let searchWhite = document.getElementById('searchWhite');
      let searchBlack = document.getElementById('searchBlack');
      let cartWhite = document.getElementById('cartWhite');
      let cartBlack = document.getElementById('cartBlack');

      let iconPrincipalWhite = document.getElementById('iconPrincipalWhite');
      let iconPrincipalBlack = document.getElementById('iconPrincipalBlack');

      let productsHeaderSection = document.getElementById('productsHeaderSection');
      if(productsHeaderSection.classList[1] == "showMenu"){
        productConsume()
      }

      if(iconDown.classList[0] == "iconShow"){
        iconDown.classList.remove("iconShow");
        userBlack.classList.remove("iconShow");
        searchBlack.classList.remove("iconShow");
        cartBlack.classList.remove("iconShow");
        iconDownPage.classList.remove("iconShow");

        iconUpPage.classList.add("iconShow");
        iconUp.classList.add("iconShow");
        userWhite.classList.add("iconShow");
        searchWhite.classList.add("iconShow");
        cartWhite.classList.add("iconShow");

        iconDown.classList.add("iconHidden");
        userBlack.classList.add("iconHidden");
        searchBlack.classList.add("iconHidden");
        cartBlack.classList.add("iconHidden");

        iconUp.classList.remove("iconHidden");
        userWhite.classList.remove("iconHidden");
        searchWhite.classList.remove("iconHidden");
        cartWhite.classList.remove("iconHidden");

        iconDownPage.classList.add("iconHidden");
        iconUpPage.classList.remove("iconHidden");
        
        totalHeader.classList.remove("headerClicked");

        lowerHeader.classList.remove("headerClicked");
        lowerHeader.classList.remove("lowerHeaderMovement");
        
        buttonHeader.classList.remove("dropdownButtonBlack")
        buttonHeaderList.classList.remove("dropdownButtonBlack")

        PagesHeaderSection.classList.remove("showMenu")
        PagesHeaderSection.classList.add("hiddeMenu")
        
        iconPrincipalWhite.classList.remove("iconHidden")
        iconPrincipalWhite.classList.add("iconShow")
        iconPrincipalBlack.classList.remove("iconShow")
        iconPrincipalBlack.classList.add("iconHidden")

        }
        else{

          iconUp.classList.remove("iconShow");

          userWhite.classList.remove("iconShow");
          searchWhite.classList.remove("iconShow");
          cartWhite.classList.remove("iconShow");

          iconDown.classList.add("iconShow");
          
          userBlack.classList.add("iconShow");
          searchBlack.classList.add("iconShow");
          cartBlack.classList.add("iconShow");

          iconUpPage.classList.remove("iconShow");
          iconDownPage.classList.add("iconShow");

          iconUp.classList.add("iconHidden");
          userWhite.classList.add("iconHidden");
          searchWhite.classList.add("iconHidden");
          cartWhite.classList.add("iconHidden");

          iconDown.classList.remove("iconHidden");

          userBlack.classList.remove("iconHidden");
          searchBlack.classList.remove("iconHidden");
          cartBlack.classList.remove("iconHidden");

          iconUpPage.classList.add("iconHidden");
          iconDownPage.classList.remove("iconHidden");

          totalHeader.classList.add("headerClicked");

          lowerHeader.classList.add("headerClicked");
          lowerHeader.classList.add("lowerHeaderMovement");

          buttonHeader.classList.add("dropdownButtonBlack");
          buttonHeaderList.classList.add("dropdownButtonBlack")

          PagesHeaderSection.classList.remove("hiddeMenu")
          PagesHeaderSection.classList.add("showMenu")

          
          iconPrincipalWhite.classList.remove("iconShow")
          iconPrincipalWhite.classList.add("iconHidden")
          iconPrincipalBlack.classList.remove("iconHidden")
          iconPrincipalBlack.classList.add("iconShow")
          }
    }
  }
</script>

{% schema %}
  {
    "name": "Header",
    "class": "section-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Main logo"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 150,
        "max": 450,
        "step": 5,
        "unit": "px",
        "label": "Maximum logo width",
        "info": "Logo height is restricted to 75px.",
        "default": 220
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "enable_sticky",
        "label": "Stick to top of screen on scroll",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "user_logo_white",
        "label": "User logo white"
      },
      {
        "type": "image_picker",
        "id": "user_logo_black",
        "label": "User logo black"
      },
      {
        "type": "image_picker",
        "id": "search_logo_white",
        "label": "Search logo white"
      },
      {
        "type": "image_picker",
        "id": "search_logo_black",
        "label": "Search logo black"
      },
      {
        "type": "image_picker",
        "id": "cart_logo_white",
        "label": "Cart logo white"
      },
      {
        "type": "image_picker",
        "id": "cart_logo_black",
        "label": "Cart logo black"
      },
      {
        "type": "image_picker",
        "id": "title_icon_down",
        "label": "go DOWN button icon"
      },
      {
        "type": "image_picker",
        "id": "title_icon_up",
        "label": "go UP button icon"
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "type": "link_list",
        "name": "Menu list",
        "settings": [
          {
            "type": "text",
            "id": "menu_title",
            "label": "pages list title to Show",
            "default": "Our Story"
          },
          {
            "type": "image_picker",
            "id": "us_logo_img",
            "label": "About Us page img"
          },
          {
            "type": "image_picker",
            "id": "ingredient_logo_img",
            "label": "Our Ingridients page img"
          },
          {
            "type": "image_picker",
            "id": "fqa_logo_img",
            "label": "FQAs page img"
          }
        ]
      },
      {
        "type": "product",
        "name": "Product List",
        "settings": [
          {
            "type": "text",
            "id": "product_title",
            "label": "Product list title to Show",
            "default": "All Natural Products"
          }
        ]
      },
      {
       "type": "url",
       "name": "links_independent",
       "settings": [
          {
            "type": "text",
            "id": "independet_title",
            "label": "title Link"
          },
          {
            "type": "url",
            "id": "url_independent",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
