<div class="headerContainer" id="header_custom">
  <!-- MENU SUPERIOR -->
  <div class="HeaderSection" id="UpperHeaderId">
    <div class="iconHeaderContainer">
      <img 
      class="iconHeader"
      src="{{ section.settings.logo  | img_url: 'medium' }}" 
      alt="{{ section.settings.logo.alt }}"
      width="{{ section.settings.logo_width }}"
      >
    </div>
    <div class="blocksContent">
      {% for block in section.blocks %}
      {% assign element = block.settings %}
      {% case block.type %}
      {% when 'product' %}
        <div class="productsList">
            <button class="dropdownButton" id="buttonHeader" onclick="productConsume()">
              {{ element.product_title}}
              <img src="{{ section.settings.title_icon_down  | img_url: 'small'}}" class="iconShow"  id="productUpIcon" alt="">
              <img src="{{ section.settings.title_icon_up | img_url: 'small'}}" class="iconHidden" id="productDownIcon" alt="">
              
            </button>  
        </div>
        {% when 'link_list' %}
        <div class="descriptionOptions">
            <button class="dropdownButton" id="buttonHeaderList" onclick="pagesConsume()">
              {{ element.menu_title }}
            </button>
            <img src="{{ section.settings.title_icon_down | img_url: 'small'}}" class="iconShow"  id="pageUpIcon" alt="">
            <img src="{{ section.settings.title_icon_up | img_url: 'small'}}" class="iconHidden"  id="pageDownIcon" alt="">
        </div>
        {% when 'url' %}
        <div class="descriptionOptions">
            <button class="dropdownButton" id="buttonHeaderList" onclick="pagesConsume()">
              {{ element.menu_title }}
            </button>
        </div>
      {% endcase %}      
      {% endfor %}
    </div>
    <div class="headerOptions">
      <div class="user">
  
      </div>
      <div class="search">
  
      </div>
      <div class="cart">
  
      </div>
    </div>
  </div>

</div>
  <!-- OPCIONES INFERIORES -->
<div class="headerMenuOptions lowerHeaderHidden" id="lowerHeaderId">
  <div class="collectionsLists hiddeMenu"  id="productsHeaderSection">
    {% for collection in collections %}
    <div class="dropdownItem">
        <img src="{{- collection.image | img_url: 'medium' }}" alt="" class="dropdownImg">
        <h5 class="dropdownTitle">
          {{- collection.title | link_to: collection.url }}
        </h5>
        <ul class="dropdownList">
          {% for product in collection.products %}
           <li class="dropdownItemList">
            <a href="{{ product.url }}">{{ product.title }}</a>
           </li>
            
          {% endfor %}
         </ul>
       </div>
    {% endfor %}
  </div>
  <div class="pageList hiddeMenu"  id="PagesHeaderSection">
    {% for page in pages -%}
      {% case page.title %}
        {% when 'Our Story' %}
        <div class="pageItem">
          <img src="{{- element.us_logo_img | img_url: 'medium' }}" alt="" class="dropdownImg">
            <a class="pageItemTitle"  href="{{ page.url }}">
              {{ page.title }}
            </a>
        </div>
        {% when 'Our Ingredients' %}
        <div class="pageItem">
          <img src="{{- element.ingredient_logo_img | img_url: 'medium' }}" alt="" class="dropdownImg">
            <a class="pageItemTitle"  href="{{ page.url }}">
              {{ page.title }}
            </a>
        </div>
        {% when 'FAQs' %}         
        <div class="pageItem">
          <img src="{{- element.fqa_logo_img | img_url: 'medium' }}" alt="" class="dropdownImg">
            <a class="pageItemTitle"  href="{{ page.url }}">
              {{ page.title }}
            </a>
        </div> 
      {% endcase %}

    {%- endfor %}
  </div>
</div>


<script>
  
  if(document.getElementById('header_custom') != null){
    function productConsume(){
      let iconUp = document.getElementById('productUpIcon')
      let iconDown = document.getElementById('productDownIcon')
      let iconUpPage = document.getElementById('pageUpIcon')
      let iconDownPage = document.getElementById('pageDownIcon')
      let upperHeader = document.getElementById('UpperHeaderId');
      let lowerHeader = document.getElementById('lowerHeaderId');
      let buttonHeader = document.getElementById('buttonHeader');
      let buttonHeaderList = document.getElementById('buttonHeaderList');
      let totalHeader = document.getElementById('header_custom');
      let productsHeaderSection = document.getElementById('productsHeaderSection');

      if(iconDown.classList[0] == "iconShow"){
        iconDown.classList.remove("iconShow");
        iconDownPage.classList.remove("iconShow");

        iconUpPage.classList.add("iconShow");
        iconUp.classList.add("iconShow");

        iconDown.classList.add("iconHidden");
        iconUp.classList.remove("iconHidden");
        iconDownPage.classList.add("iconHidden");
        iconUpPage.classList.remove("iconHidden");
        
        totalHeader.classList.remove("headerClicked");
        upperHeader.classList.remove("upperHeaderBorder");

        lowerHeader.classList.remove("headerClicked");
        lowerHeader.classList.remove("lowerHeaderMovement");
        
        buttonHeader.classList.remove("dropdownButtonBlack")
        buttonHeaderList.classList.remove("dropdownButtonBlack")

        productsHeaderSection.classList.remove("showMenu")
        productsHeaderSection.classList.add("hiddeMenu")

        }else{

          iconUp.classList.remove("iconShow");
          iconDown.classList.add("iconShow");
          iconUpPage.classList.remove("iconShow");
          iconDownPage.classList.add("iconShow");

          iconUp.classList.add("iconHidden");
          iconDown.classList.remove("iconHidden");
          iconUpPage.classList.add("iconHidden");
          iconDownPage.classList.remove("iconHidden");

            
          totalHeader.classList.add("headerClicked");
          upperHeader.classList.add("upperHeaderBorder");

          lowerHeader.classList.add("headerClicked");
          lowerHeader.classList.add("lowerHeaderMovement");

          buttonHeader.classList.add("dropdownButtonBlack");
          buttonHeaderList.classList.add("dropdownButtonBlack")

          productsHeaderSection.classList.remove("hiddeMenu")
          productsHeaderSection.classList.add("showMenu")
        }
    }

    function pagesConsume(){
      let iconUp = document.getElementById('productUpIcon')
      let iconDown = document.getElementById('productDownIcon')
      let iconUpPage = document.getElementById('pageUpIcon')
      let iconDownPage = document.getElementById('pageDownIcon')
      let upperHeader = document.getElementById('UpperHeaderId');
      let lowerHeader = document.getElementById('lowerHeaderId');
      let buttonHeader = document.getElementById('buttonHeader');
      let buttonHeaderList = document.getElementById('buttonHeaderList');
      let totalHeader = document.getElementById('header_custom');
      let PagesHeaderSection = document.getElementById('PagesHeaderSection');

      if(iconDown.classList[0] == "iconShow"){
        iconDown.classList.remove("iconShow");
        iconDownPage.classList.remove("iconShow");

        iconUpPage.classList.add("iconShow");
        iconUp.classList.add("iconShow");

        iconDown.classList.add("iconHidden");
        iconUp.classList.remove("iconHidden");
        iconDownPage.classList.add("iconHidden");
        iconUpPage.classList.remove("iconHidden");
        
        totalHeader.classList.remove("headerClicked");
        upperHeader.classList.remove("upperHeaderBorder");

        lowerHeader.classList.remove("headerClicked");
        lowerHeader.classList.remove("lowerHeaderMovement");
        
        buttonHeader.classList.remove("dropdownButtonBlack")
        buttonHeaderList.classList.remove("dropdownButtonBlack")

        PagesHeaderSection.classList.remove("showMenu")
        PagesHeaderSection.classList.add("hiddeMenu")

        }else{

          iconUp.classList.remove("iconShow");
          iconDown.classList.add("iconShow");
          iconUpPage.classList.remove("iconShow");
          iconDownPage.classList.add("iconShow");

          iconUp.classList.add("iconHidden");
          iconDown.classList.remove("iconHidden");
          iconUpPage.classList.add("iconHidden");
          iconDownPage.classList.remove("iconHidden");

          
          totalHeader.classList.add("headerClicked");
          upperHeader.classList.add("upperHeaderBorder");

          lowerHeader.classList.add("headerClicked");
          lowerHeader.classList.add("lowerHeaderMovement");

          buttonHeader.classList.add("dropdownButtonBlack");
          buttonHeaderList.classList.add("dropdownButtonBlack")

          PagesHeaderSection.classList.remove("hiddeMenu")
          PagesHeaderSection.classList.add("showMenu")
          }
    }
  }
</script>

{% schema %}
  {
    "name": "Header",
    "class": "section-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Main logo"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 150,
        "max": 450,
        "step": 5,
        "unit": "px",
        "label": "Maximum logo width",
        "info": "Logo height is restricted to 75px.",
        "default": 220
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "enable_sticky",
        "label": "Stick to top of screen on scroll",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "user_logo",
        "label": "User logo"
      },
      {
        "type": "image_picker",
        "id": "search_logo",
        "label": "Search logo"
      },
      {
        "type": "image_picker",
        "id": "cart_logo",
        "label": "Cart logo"
      },
      {
        "type": "image_picker",
        "id": "title_icon_down",
        "label": "go DOWN button icon"
      },
      {
        "type": "image_picker",
        "id": "title_icon_up",
        "label": "go UP button icon"
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "type": "link_list",
        "name": "Menu list",
        "settings": [
          {
            "type": "text",
            "id": "menu_title",
            "label": "pages list title to Show",
            "default": "Our Story"
          },
          {
            "type": "image_picker",
            "id": "us_logo_img",
            "label": "About Us page img"
          },
          {
            "type": "image_picker",
            "id": "ingredient_logo_img",
            "label": "Our Ingridients page img"
          },
          {
            "type": "image_picker",
            "id": "fqa_logo_img",
            "label": "FQAs page img"
          }
        ]
      },
      {
        "type": "product",
        "name": "Product List",
        "settings": [
          {
            "type": "text",
            "id": "product_title",
            "label": "Product list title to Show",
            "default": "All Natural Products"
          }
        ]
      }
    ]
  }
{% endschema %}
