<div class="headerContainer" id="header_custom">
  <!-- MENU SUPERIOR -->
  <div class="HeaderSection" id="HeaderSectionId">
    <div class="iconHeaderContainer">
      <img 
      class="iconHeader"
      src="{{ section.settings.logo  | img_url: 'medium' }}" 
      alt="{{ section.settings.logo.alt }}"
      width="{{ section.settings.logo_width }}"
      >
    </div>
    <div class="blocksContent">
      {% for block in section.blocks %}
      {% assign element = block.settings %}
      {% case block.type %}
      {% when 'link_list' %}
        <div class="blockLinkList">
            <button class="dropdownButton">
              {{ element.menu_title }}
            </button>  
        </div>
        {% when 'url' %}
        <div class="blockPageItems">
            <button class="dropdownButton">
              {{ element.option_title }}
            </button>
  
        </div>
      {% endcase %}      
      {% endfor %}
    </div>
    <div class="headerOptions">
      <div class="user">
  
      </div>
      <div class="search">
  
      </div>
      <div class="cart">
  
      </div>
    </div>
  </div>

</div>
  <!-- OPCIONES INFERIORES -->
<div class="headerMenuOptions">
  <div class="itemDropdown">
    <img src="" alt="" class="dropdownImg">
    <h5 class="dropdownTitle"></h5>
    <ul class="dropdownList">
      <li class="dropdownItemList"></li>
    </ul>
  </div>
</div>


<script>
  
  if(document.getElementById('header_custom') != null){
    function productConsume(){
      const url ='/admin/api/2022-07/blogs.json'
      fetch(url)
      .then((res)=> res.json())
      .then(({blogs})=>{
          document.getElementById('blogList').innerHTML=''
          blogs.forEach(element => {
        console.log(element)
            document.getElementById('blogList').innerHTML+=`
             <li class="itemBlog" >
                ${element.title}
              </li>
            `;
          });

      })
    }
    function pagesConsume(){
      const url ='/admin/api/2022-07/blogs.json'
      fetch(url)
      .then((res)=> res.json())
      .then(({blogs})=>{
          document.getElementById('blogList').innerHTML=''
          blogs.forEach(element => {
        console.log(element)
            document.getElementById('blogList').innerHTML+=`
             <li class="itemBlog" >
                ${element.title}
              </li>
            `;
          });

      })
    }
     
  }
</script>

{% schema %}
  {
    "name": "Header",
    "class": "section-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Main logo"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 150,
        "max": 450,
        "step": 5,
        "unit": "px",
        "label": "Maximum logo width",
        "info": "Logo height is restricted to 75px.",
        "default": 220
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "enable_sticky",
        "label": "Stick to top of screen on scroll",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "user_logo",
        "label": "User logo"
      },
      {
        "type": "image_picker",
        "id": "search_logo",
        "label": "Search logo"
      },
      {
        "type": "image_picker",
        "id": "cart_logo",
        "label": "Cart logo"
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "type": "link_list",
        "name": "Menu list",
        "settings": [
          {
            "type": "text",
            "id": "menu_title",
            "label": "pages list title to Show",
            "default": "Our Story"
          },
        ]
      },
      {
        "type": "product",
        "name": "Product List",
        "settings": [
          {
            "type": "text",
            "id": "product_title",
            "label": "Product list title to Show",
            "default": "All Natural Products"
          },
        ]
      },
      {
        "type": "url",
        "name": "Menu option",
        "settings": [
          {
            "type": "text",
            "id": "option_title",
            "label": "Menu option title to Show",
            "default": "Page 1"
          },
          {
            "type": "url",
            "id": "option_link",
            "label": "Page linked to"
          }
        ]
      }
    ]
  }
{% endschema %}
